{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>UniMatch</title>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
    <style>
        body {
            margin: 0;
            background-color: #ebebf4;
        }
        h1 {
            font-family: 'Abril Fatface', serif;
            font-size: 3.5rem;
            color: #2D5289;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<h1>UniMatch</h1>
</html>